body, .navbar, .sidebar
    background-color: #f5f5d5 !important;
.navbar
    .links
        background-color: #f5f5d5 !important;
    .search-box
        input
            background-color: #f5f5d5 !important;
